.ftr-section {
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    height: 15vw;
    text-align: center;
    
}

.see-you {
    border-right: 1px white solid;
    width: 55%;
    max-width: 700px;
}

.ftr-links {
    font-family: 'Matter', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    text-align: left;
    max-width: 500px;
}

.ftr-links a {
    text-decoration: none;
}

.see-you-img {
    width: 80%;
}

.attr {
    background-color: #0E0E0E;
    font-family: 'MatterBold', sans-serif;
    padding: 10px 0px;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.attr-text {
    display: flex;
    margin: auto;
    justify-content: space-around;
    max-width: 1200px;
}

.attr p {
    font-size: 0.8rem;
}

@media only screen and (max-width: 767px) {
    .ftr-section {
        height: 25vw;
        padding-left: 0;
        padding-right: 0;
    }
    .attr-text {
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.55rem;
    }
    .attr p {
        font-size: 0.55rem;
    }
    .left, .right {
        margin: 4px;
    }
    .ftr-links {
        font-size: 1rem;
    }
}