.center {
    text-align: center;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 40px;
    padding: 0px 20px;
    max-width: 800px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.t1 {
    margin-left: 10%;
    animation-delay: 0.5s;
}

.t2 {
    margin-right: 10%;
    animation-delay: 1s;
}

.t3 {
    margin-left: 10%;
    animation-delay: 1.5s;
}

.landing {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.scroller {
    position: absolute;
    top: 82vh;
    cursor: pointer;
    width: 200px;
    animation: bounce 2000ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-delay: 1s;
}

/* Events section */

.incubation { background: #0597BE; }
.ecell-meet { background: #F04F3D; }
.scam-2023 { background: rgb(18, 181, 111); }
.number-painting { background: #e1a816; }
.social-impact { background: #d68bf3; }

.two-events {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    margin-top: 0;
}
.two-events a {
    width: 100%;
    text-decoration: none;
}
.banner .card-large { width: 75% !important; margin: auto; background: #0E0E0E;}

.banner h3, .banner p { text-align: left; padding: 0px 40px; }

.banner .card-large p {
    margin-top: 20px;
    margin-bottom: -10px;
}
.arrow {
    margin-top: -50px;
    display: flex;
    margin: 0px auto;
    align-items: center;
}
.arrow h3 {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}
svg {
    position: relative;
    top: -2px;
    margin-left: -20px;
    height: 20px;
    width: 100px;
    transition: 250ms all ease;
    cursor: pointer;
    align-items: center;
}
svg path {
    stroke-width: 1px;
    fill: #FFFFFF;
    transition: 250ms all ease;
    height: 100%;
}
.card-large:hover path {
    fill: black;
    d: path("M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z");
    d: "M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z";
}
.banner-left {
    width: 100%;
    overflow: hidden;
}

.banner-left img {
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.banner-right {
    padding: 0px 40px;
}

.card-large, .card-small {
    width: 48%;
    margin: 10px;
    border-radius: 20px;
    transition: 0.05s;
    /* background: #9A71DB; */
    overflow: hidden;
    border: 2px solid white;
}

.card-small {
    width: 32%;
}

.card-large h3, .card-small h3 {
    text-align: left;
    padding: 0px 40px;
}

.card-large img, .card-small img {
    width: 100%;
    display: block;
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.card-large p, .card-small p {
    margin-top: -10px;
    padding: 0px 40px;
    padding-bottom: 40px;
    font-weight: 500;
}

.card-large:hover, .card-small:hover {
    background: #FFFFFF;
    color: #0E0E0E; 
    transition: 0.05s;
}

/* Speakers section */

.speakers-card {
    width: 75%;
    max-width: 1050px;
    margin: 50px auto;
    background: #000000;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 100px;
    padding-bottom: 0;
    text-align: center;
}

.speakers-card h2 {
    color: #F9D182;
    margin-bottom: 0px;
}

.speakers-card h3 {
    width: 250px;
    height: 48px;
    border: 4px #FFFFFF solid;
    margin: 40px auto;
    border-radius: 20px;
    background: #F9D182;
    line-height: 240%;
    text-align: center;
    transition: 0.1s;
    cursor: pointer;
}

.speakers-card h3:hover {
    background: #0E0E0E;
}

.speakers-card img {
    width: 98%;
    margin-top: 20px;
}

.sample-collabs {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 500px;
    margin-bottom: 120px;
}

@media only screen and (max-width: 1100px) {
    .t1, .t2, .t3 {
        width: 65%;
    }
}

@media only screen and (max-width: 767px) {
    
    .t1, .t3 {
        width: 75%;
    }
    .t2 {
        width: 70%;
    }

    .landing {
        height: 70vh;
    }

    .scroller {
        top: 78vh;
        width: 125px;
    }
    .banner .card-large {
        width: 95% !important;
    }
    .two-events {
        flex-direction: column;
    }
    .card-large, .card-small {
        width: 95%;
    }
    .card-large img {
        width: 100%;
    }
}