.nav {
    display: flex;
    width: calc(100vw - 85px);
    justify-content: space-between;
    background-color: transparent;
    margin: 15px 85px;
    padding-top: 26px;
}

.nav-fixed {
    display: flex;
    position: fixed;
    width: calc(100vw - 60px);
    justify-content: space-between;
    background-color: transparent;
    margin: 15px 30px;
    z-index: 2;
}

img {
    width: 50px;
}
.esmt-logo {
    position: relative;
    width: 120px;
    top: -16%;
}
.left {
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
}
.glow-on-hover {
    margin-right: 100px;
    top: -24%;
    width: 130px;
    height: 45px;
    font-size: 1.15rem;
    text-decoration: none;
    font-family: MatterBold;
    border: 3px #9B79F7 solid;
    border-radius: 50px;
    color: #fff;
    background: #1D1D1F;
    cursor: pointer;
    position: relative;
    z-index: 0;
    text-align: center;
    line-height: 45px;
    transition: 0.2s;
    z-index: 2;
}

.glow-on-hover:hover {
    background-color: #F9D182;
    border: 3px #FFFFFF solid;
}

@media only screen and (max-width: 767px) {
    .nav {
        width: calc(100vw - 60px);
        margin: 10px 60px;
        padding-top: 16px;
    }
    
    .nav-fixed {
        width: calc(100vw - 36px);
        justify-content: space-between;
        background-color: transparent;
        margin: 10px 20px;
        z-index: 2;
    }
    
    img {
        width: 36px;
    }
    .esmt-logo {
        width: 96px;
        top: -10%;
    }
    .glow-on-hover {
        display: none;
    }
  }