.nav {
    display: flex;
    position: fixed;
    width: calc(100vw - 60px);
    justify-content: space-between;
    background-color: transparent;
    margin: 15px 30px;
    font-family: 'MatterBold', sans-serif;
}
img {
    width: 50px;
}
.esmt-logo {
    position: relative;
    width: 100px;
    top: -18%;
}
.left {
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
}
.glow-on-hover {
    position: absolute;
    margin-right: 12px;
    width: 150px;
    height: 50px;
    font-size: 1.15rem;
    text-decoration: none;
    border: 1px #9B79F7 solid;
    border-radius: 50px;
    color: #fff;
    background: #1D1D1F;
    cursor: pointer;
    position: relative;
    z-index: 0;
    text-align: center;
    line-height: 50px;
    transition: 0.2s;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #F9D182, #9B79F7, #F9D182, #9B79F7, #F9D182, #9B79F7, #F9D182, #9B79F7, #F9D182);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1D1D1F;
    left: 0;
    top: 0;
    border-radius: 50px;
    transition: 0.2s;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media only screen and (max-width: 767px) {
    .glow-on-hover {
        display: none;
    }
  }