@font-face {
  font-family: "Matter";
  src: url("Assets/Fonts/Matter/Matter-Regular.otf")
}
@font-face {
  font-family: "MatterBold";
  src: url("Assets/Fonts/Matter/Matter-Bold.otf")
}
body {
  margin: 0;
  font-family: 'Matter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
